
img{
    width:200;
    
}
.main_header{
    font-family:Arial;
    color:BurlyWood;
    font-size:50;
}
.p1{
    font-size:20;
}
body{
    background:azure;
}
.main_button{
    width:100;
    height:50;
}
